header .navbar-nav > ul > li > a:hover {
    background: rgba(0,0,0,0.1);
    border: 0 none;
}

header {
    background: rgba(255, 255, 255, 0.1);
}


.navbar-header {
    text-align: center;
    width: 100%;
    margin-left: 0px;
}

.header-content {
    display: table;
    margin-bottom: 15px;
    background: #fff;
    padding: 30px 15px 15px 17px;
    min-width: 100%;
}

    .header-content .page-header {
        font-size: 18px;
        margin: 0 0 7px 0;
        padding: 0;
        border: 0 none;
    }

header-content:before {
    content: "";
    position: absolute;
    background: #fff;
    width: 100vw;
    height: 100px;
}


    .header-content .breadcrumb {
        padding: 0;
        margin-bottom: 0px;
        list-style: none;
        background: none;
        border: 0 none;
    }

    .header-content .dropdown-menu > li > a {
        padding: 5px 12px;
    }

        .header-content .dropdown-menu > li > a > i {
            margin-right: 3px;
        }

    .header-content .dropdown-menu .divider {
        margin: 5px 0;
    }

@media (min-width: 1601px) {
    .header-content {
        border: 1px solid #E9E9E9;
    }
}
