<header class="header-content">
    <div class="pull-left">
        <h2 class="page-header">
            {{title}}
        </h2>
        <div ncy-breadcrumb></div>
    </div>

    <div class="pull-right btn-group">
        <a ui-sref="{{voltar}}" ng-if="voltar" class="btn btn-default">
            <i class="fa fa-reply"></i>
            Voltar
        </a>
        <div class="content pull-right"></div>
    </div>
</header>